.wrapper {
    position: absolute;
    top: 7vh;
    left: 0;
    height: 93vh;
    width: 100vw;
    background: $primary-color;
    color: $background-color;
    box-shadow: inset 0 0 10px #777777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;

    & h1 {
        font-size: 27.8082px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        left: 0px;
        letter-spacing: -1.47958px;
        line-height: 33.8px;
        margin-bottom: 2rem;
    }

    & h4 {
        font-size: 16.3326px;
        font-weight: 300;
        letter-spacing: -0.0066474px;
        line-height: 25.15px;
        margin-bottom: 14px;
        margin-top: 14px;

        &.pricee {
            margin-bottom: 5rem;
            background: rgba(255,255,255,0.3);
            padding: .3rem;
            box-shadow: 2px 1px 7px $secondary-color;
        }
    }
}